.user-page {
    display: flex;
    flex-direction: row;
}

.question-selection {
    width: 600px;
    height: 200px;
    background-color: #c9c9cf;
    margin: auto;
    margin-top: 3rem;
    margin-left: 10rem;
    border-radius: 10px;
}

.question-answers {
    overflow-y: scroll;
    margin: 2rem 5rem 0rem 10rem;
    width: 600px;
    height: 500px;
    background-color: #c9c9cf;
    border-radius: 5px;
}

.side-bar {
    height: 700px;
    width: 30%;
    overflow-y: scroll;
}
  
.side-bar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}